body {
	background-color: #000000;
	height: 100%;
	width: 100%;
	background-image: url("../images/fond2.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: underline;

}

li a {
    text-decoration: none;
}

.main {
    
    margin: 150px 10% 100px 10%;
    background-color: #092539;
	padding: 10px 2%;
}
h1{
	 text-align: center;
	 margin-bottom: 40px;
}
.texte{
	color: #EDB852;
	/*color: #FEDC87;*/
	font-family:  cursive;
	margin-left: auto;
	margin-right: auto;
	
}



/* Menu fixe */

.navbar {
	background-color: #092539;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
}

.logo {
	padding: 20px;
	width: auto;
	float: left;
	height: 100%;
}

.menu {
	display: flex;
	align-items: center;
	width: auto;
	height: 100%;
	float: right;
	margin-top: 10px;
}
.menu ul {
	width: 100%;
	height: inherit;
	margin: 0;
	padding: 0;
	display: flex;  
	justify-content: center;
	align-items: center;
	list-style: none;
	font-weight: bold;
	font-family: arial;
	font-size: 18px;        
}
.menu ul a {
	width: auto;
	color: #EDB852;
	padding: 30px 20px 20px 10px;
	margin-left: 10px;
	margin: 5px;
	transition: margin 0.5s ease-out;
	border-radius: 10px;
}
.menu ul a:hover {
	color: rgb(0, 0, 0);
	background-color: #EDB852;
	padding: 13px 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
}
#menuToggle {
	display: none;
}
.menu-icon {
	display: none;
}

footer {
	background-color: #13181B;
}

.contenuFooter {
	margin: auto;
	max-width: 1500px;
	max-height: 120px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.contenuFooter p {
	color: #EDB852;
	font-size: 16px;
	font-family: arial;
}

@media only screen and (max-width: 1000px){

	.menu {
		width: 100%;
		height: auto;
	}
	.menu ul {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
	}

	.menu ul a {
		width: 200px;
		height: 50px;
		background-color: #092539;
		color: #EDB852;
		border-color: #10697F;
		border-width: 1px;
		border-style: solid;
		padding: 2% 3% 1%;
		margin: 2px;
	}
	.menu ul li {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.menu-icon {
		margin: 15px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		line-height: 60px;
	}

	#menuToggle:checked ~ ul {
		max-height: 600px;
	}
	.menu-icon img {
		margin:auto;
	}
}

/* -- Fin CSS commun à chaque page -- */